services:
  vault:
    image: vaultwarden/server:1.34.3
    container_name: vaultwarden
    restart: always
    environment:
      SIGNUPS_ALLOWED: "true"
      ADMIN_TOKEN_FILE: /run/secrets/vaultwarden_admin_token
      DOMAIN: https://vault.e4e-gateway.ucsd.edu
    volumes:
      - ./vaultwarden-data:/data
    labels:
      caddy: vault.e4e-gateway.ucsd.edu
      caddy.reverse_proxy: "{{upstreams 80}}"
    secrets:
      - vaultwarden_admin_token
  
  traefik:
    image: traefik:v3.6
    container_name: traefik
    restart: always
    ports:
      - 80:80
      - 443:443
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik-data/letsencrypt:/letsencrypt:z
    command:
      - "--log.level=DEBUG"
      # - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
      - "--entrypoints.web.http.redirections.entryPoint.scheme=https"
      - "--entrypoints.web.http.redirections.entryPoint.permanent=true"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.letsencrypt.acme.httpchallenge=true"
      - "--certificatesresolvers.letsencrypt.acme.httpchallenge.entrypoint=web"
      - "--certificatesresolvers.letsencrypt.acme.email=e4e@ucsd.edu"
      - "--certificatesresolvers.letsencrypt.acme.storage=/letsencrypt/acme.json"
      # - "--certificatesresolvers.letsencrypt.acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory" # Use Let's Encrypt staging server for testing
      - "--providers.docker.network=traefik_proxy"
      - "--metrics.prometheus=true"
    # user: "${USER_ID}:${GROUP_ID}"
    networks:
      traefik_proxy:
        aliases:
          - vault.e4e-gateway.ucsd.edu

networks:
  traefik_proxy:
    external: true

secrets:
  postgres_password:
    file: .secrets/postgres_password.txt
  vaultwarden_admin_token:
    file: .secrets/vaultwarden_admin_token.txt
  grafana_e4eadmin_password:
    file: .secrets/grafana_e4eadmin_password.txt
  grafana_github_secret:
    file: .secrets/grafana_github_secret.txt